header {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 10px;
  margin: 0;
  margin-bottom: 15px;
  height: 65px;
  border-left: 5px solid var(--bcgov-yellow);
  border-bottom: 1px solid var(--light-grey2);
}

.logo {
  max-height: 60px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1 auto;
}

.header-title {
  margin: 0;
  margin-left: 15px;
}

.header-description {
  margin-bottom: 5px;
}

.authentication-button {
  display: flex;
  align-items: center;
}

.authentication-button h3 {
  margin: 0;
}

.authentication-button svg {
  margin-left: 10px;
}
