<div class="page-container">
  <!-- Each Module in endpoints -->
  <% Object.keys(endpoints).forEach(function(moduleName) { %>

    <!-- Module Section -->
    <section class="module-section">

      <!-- Module Header -->
      <%- include('./module-header/index.ejs', { moduleName, endpoints }); %>

      <div style="display: block;" id="module-details-<%= moduleName %>">

        <!-- Each Endpoint in Module 'moduleName' -->
        <% endpoints[moduleName].endpoints.forEach(function(endpoint, index) { %>

          <!-- Endpoint -->
          <%- include('./endpoint/index.ejs', { endpoints, moduleName, endpoint, index }); %>

        <% }); %>

      </div>

    </section>
  <% }); %>
</div>
