@import "./endpoint/styles.css";
@import "./module-header/styles.css";

.page-container {
  padding: 8px;
}

.module-section {
  margin-bottom: 25px;
  padding: 0 14px;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 4px;
}
