@import "./endpoint/styles.css";
@import "./module-header/styles.css";

.page-container {
  padding: 8px;
  background-color: var(--light-grey);
}

.module-section {
  margin-bottom: 45px;
}

.module-details {
  display: "block";
}
