.module-header {
  padding: 6px;
  margin: 15px 0;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
}

.module-title {
  padding-right: 10px;
  margin: 0;
}

.module-description {
  margin: 0;
  font-size: 0.9em;
}

.module-expand-arrow-button {
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
}

.module-arrow-svg {
  display: none;
}

.module-arrow-svg:first-child {
  display: block;
}
