<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <script src="/script.js"></script>
  <body>
    <!-- Endpoint data -->
    <div id="endpoint-data" style="display: none;" data-endpoints="<%= JSON.stringify(endpoints) %>"></div>

    <!-- Header -->
    <%- include('./header/index.ejs'); %>

    <!-- Page -->
    <%- include('./page/index.ejs', { endpoints }); %>
  </body>
</html>
