body {
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
}
.title-header {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #234075;
  border-bottom: 2px solid #e3a82b;
  color: #fff;
}
.page-title {
  margin: 0;
}
.page-description {
  margin-bottom: 5px;
  color: #f1f1f1;
}
.authentication-button {
  padding: 12px;
  height: fit-content;
  width: fit-content;
  border: 1px solid #013c80;
  border-radius: 4px;
  background-color: #26ae56;
  display: flex;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
}
.authentication-button:hover {
  background-color: #3ae074;
}
.authentication-button h3 {
  margin: 0;
  color: #fff;
}
.authentication-button svg {
  margin-left: 10px;
}
.module-title-container {
  padding: 6px;
  margin: 15px 0;
  background-color: #efefef;
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.module-title {
  padding-right: 10px;
  margin: 0;
}
.module-description {
  margin: 0;
  font-size: 0.9em;
}
.module-section {
  margin-bottom: 45px;
}
.endpoint-description {
  margin: 0;
  font-size: 0.9em;
}
.endpoint-block {
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,.19);
  margin: 0 0 15px;
}
.endpoint-block-summary {
  display: flex;
}
.endpoint-block-summary-title {
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 95%;
  padding: 5px;
}
.endpoint-inner-expand-arrow {
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
}
.copy-button {
  background-color: #878787;
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  height: 30px;
  width: 30px;
  align-self: center;
  cursor: pointer;
}
.copy-button:hover {
  background-color: #b5b5b5;
}
.execute-button {
  background: #000;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  padding: 6px 0;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  cursor: pointer;
}
.execute-button:hover {
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.endpoint-method-block {
  background: #000;
  border-radius: 3px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  min-width: 80px;
  padding: 6px 0;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  margin-right: 10px;
}
.endpoint-method-block-GET {
  background-color: #61affe;
}
.endpoint-method-block-POST {
  background-color: #49cc90;
}
.endpoint-method-block-PATCH {
  background-color: #e3ce31;
}
.endpoint-method-block-PUT {
  background-color: #fca130;
}
.endpoint-method-block-DELETE {
  background-color: #f93e3e;
}
.endpoint-summary-path {
  align-items: center;
  color: #3b4151;
  display: flex;
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  word-break: break-word;
  margin-right: 10px;
}
.endpoint-method-background-GET {
  background-color: rgba(97,175,254,.1);
}
.endpoint-method-background-POST {
  background-color: rgba(73,204,144,.1);
}
.endpoint-method-background-PATCH {
  background-color: rgba(204, 176, 73, 0.1);
}
.endpoint-method-background-PUT {
  background-color: rgba(252,161,48,.1);
}
.endpoint-method-background-DELETE {
  background-color: rgba(249,62,62,.1);
}
.endpoint-block-details {
  border-top: 1px solid #000;
  height: auto;
  display: none;
  margin: 0;
  padding: 0;
}
.arrow-svg {
  display: none;
}
.arrow-svg:first-child {
  display: block;
}
.endpoint-block-details-section-header {
  align-items: center;
  background: hsla(0,0%,100%,.8);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  display: flex;
  min-height: 30px;
  padding: 8px 20px;
  margin: 0;
}
.endpoint-block-details-section-header h4 {
  margin: 0;
}
.endpoint-block-details-section-container {
  padding: 20px;
}
.authentication-section-public {
  margin-top: 0;
  font-weight: 700;
  font-size: 0.8em;
  color: #0c760c;
}
.authentication-section-protected {
  margin-top: 0;
  font-weight: 700;
  font-size: 0.8em;
  color: #d61212;
}
.font-small {
  font-size: 0.8em;
}
.white-background {
  background-color: #fff;
}
.execution-response-body {
  background: #333;
  border-radius: 4px;
  font-size: 12px;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  color: #fff;
  font-family: monospace;
  font-weight: 600;
}
.json-language-number {
  color: #e64f4f;
}
.json-language-string {
  color: #8af38a;
}
.json-language-boolean {
  color: #7d7dee;
}
.json-language-bracket {
  color: #f9da61;
}
.param-text {
  color: #636363;
}
.required-param {
  color: #bc1f1f;
}
.param-input {
  border-radius: 4px;
  height: 25px;
  width: 300px;
}
